{% extends "my_fridge/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <div style="padding:60px">
        <h2>{{ food }}</h2>
    </div>
{% endblock header %}


{% block content %}
        <p>
            Quantity : {{ food.quantity }} {{ food.units }}
        </p>
        <p>
            <small><a href="{% url 'my_fridge:add_quantity' food.id %}">Add Quantity</a></small> -
            <small><a href="{% url 'my_fridge:remove_quantity' food.id %}">Remove Quantity</a></small>
        </p>
{% endblock content %}