{% extends "my_fridge/base.html" %}
{% load bootstrap4 %}


{% block header %}
    <div style="padding-top:60px">
        <h1>What's in?</h1>
    </div>
{% endblock header %}

{% block content %}
    <ul>
        <div class="row">
            {% if is_empty %}
                <li>
                    No food in your fridge.
                    <p> <small> <a href="{% url 'my_fridge:add_food' %}">Add food</a> </small> </p>
                </li>
            {% else %}
            <div class="container-fluid">
            <p>
                <h4>Groceries you have in your fridge:</h4>
                <small> <a href="{% url 'my_fridge:add_food' %}">Add food</a> </small>
            </p>
            </div>
                {% for x in food %}
                    {% if x.quantity > 0 %}
                        <div class="col-auto py-3">
                        <div class="card" style="width: 20rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>
                                        <h3>{{ x }}</h3>
                                    </p>
                                    <p>
                                        Quantity: {{ x.quantity }} {{ x.units }}
                                    </p>
                                    <p>
                                        <small><a href="{% url 'my_fridge:add_quantity' x.id %}"> Modify </a></small> -
                                        <small><a href="{% url 'my_fridge:remove_food' x.id %}"> Remove </a></small>
                                    </p>

                                </li>
                            </ul>
                        </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <li>
                        No food in your fridge.
                        <p> <small> <a href="{% url 'my_fridge:add_food' %}">Add food</a> </small> </p>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </ul>
{% endblock content %}