{% extends "my_fridge/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <div style="padding:60px">
        <div class="jumbotron">
            <h1>What's in my fridge?</h1>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <h3>
        This App helps you to organize your meals. You can know what is in your fridge and what is run out.
        In addition, it is possible to upload your essential groceries and add them directly to your fridge.
    </h3>
{% endblock content %}