{% extends "my_fridge/base.html" %}
{% load bootstrap4 %}

{% block header %}
<div style="padding-top:60px">
    <h3>
        <a href="{% url 'my_fridge:each_food' food.id %}">{{ food }}</a>
    </h3>

</div>
{% endblock header %}


{% block content %}

    <form action="{% url 'my_fridge:remove_quantity' food.id%}" method='post' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Remove Quantity</button>
            <a href="{% url 'my_fridge:each_food' food.id %}" class="btn btn-secondary"> Cancel </a>
        {% endbuttons %}

    </form>

{% endblock content %}